@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: local('Battambang'), url(http://themes.googleusercontent.com/static/fonts/battambang/v7/zMvvdaOrw1_VlpAAfy75uPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
