<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Ínicio</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.responsive.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/Battambang_latin.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/app.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">


    <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/script.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/musicas.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/script.responsive.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/lib/angular/angular.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/musicas.js'}"></script>


    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">


    <style>.art-content .art-postcontent-0 .layout-item-0 { padding: 10px;  }
    .art-content .art-postcontent-0 .layout-item-1 { padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 10px;  }
    .art-content .art-postcontent-0 .layout-item-2 { padding: 0px;  }
    .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

    </style>

</head>
<body>
<div id="art-main">
<header class="art-header">


    <div class="art-shapes">
<div class="art-object966597160" data-left="0.58%"></div>
<div class="art-object0" data-left="100%"></div>
<div id="divBusca">
    <img src="@{'/public/images/search3.png'}" alt="Buscar..."/>
    <input type="text" id="txtBusca" placeholder="Buscar..."/>
    <button id="btnBusca">Buscar</button>
</div>
<div class="art-textblock art-object7998138" data-left="3.17%">
        <div class="art-object7998138-text-container">
        <div class="art-object7998138-text"><p class="MsoNormal"><br></p></div>
    </div>
    
</div>
            </div>
<h1 class="art-headline" data-left="8.21%">
    <a href="#">WEB Rádio Lavraense</a>
</h1>
<nav class="art-nav">
  <div class="art-nav-inner">
    <ul class="art-hmenu">
    	<li>
    		<a href="/" class="active">Ínicio</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/playList">Playlist</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/musicas">Músicas</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/contato">Contato</a>
    	</li>
    </ul> 
  </div>
</nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 25%" >
        <h4>Relaxar...</h4><img width="230" height="185" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; " alt="" class="art-lightbox" src="@{'/public/images/1aa6db94-fd92-4c32-afb6-681a9d691ce9.png'}">
        <p>Músicas para relaxar e curtir a noite.</p>
    </div><div class="art-layout-cell layout-item-0" style="width: 25%" >
        <h4>Tomorrowland</h4><img width="230" height="185" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="@{'/public/images/0b31cc81-c0b0-4c39-ae8e-58cf8ae3d8a7.png'}">
        <p>Set de músicas da tomorrowland</p>
    </div><div class="art-layout-cell layout-item-0" style="width: 25%" >
        <h4>Músicas da Copa</h4><img width="230" height="185" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="@{'/public/images/e9bfafd8-6dd4-4be3-a3ff-a310f9c49922.png'}">
        <p>Músicas da Copa FIFA de futebol 2014 no Brasil.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h4>Shows</h4><img width="230" height="185" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" alt="" class="art-lightbox" src="@{'/public/images/028d93c4-ee33-4f95-8230-ce7d6a6cd411.png'}">
        
        <p>Os melhores shows da atualidade.</p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-2" style="width: 100%" >
        <h4>Ouça suas músicas a hora e de onde quiser!</h4>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
Copyright Web Rádio Lavrense
   
  </div>
</footer>

</div>


</body></html>