<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="musicasApp">

<head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Nova Página</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="@{'/public/stylesheteets/style.css'}" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="@{'/public/stylesheteets/style.responsive.css'}" media="all">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Battambang&amp;subset=latin">
    <link rel="stylesheet" href="@{'/public/stylesheets/app.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">


    <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/script.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/musicas.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/script.responsive.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/lib/angular/angular.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/controllers.js'}"></script>

 


</head>
<body ng-controller="MusicasController">
<div id="art-main">
<header class="art-header">


    <div class="art-shapes">
<div class="art-object966597160" data-left="0.58%"></div>
<div class="art-object0" data-left="100%"></div>
<div id="divBusca">
    <img src="images/search3.png" alt="Buscar..."/>
    <input type="text" id="txtBusca" placeholder="Buscar..."/>
    <button id="btnBusca">Buscar</button>
</div>
<div class="art-textblock art-object7998138" data-left="3.17%">
        <div class="art-object7998138-text-container">
        <div class="art-object7998138-text"><p class="MsoNormal"><br></p></div>
    </div>
    
</div>
            </div>
<h1 class="art-headline" data-left="8.21%">
    <a href="#">WEB Rádio Lavraense</a>
</h1>
<nav class="art-nav">
  <div class="art-nav-inner">
    <ul class="art-hmenu">
    	<li>
    		<a href="/">Ínicio</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/playList">Playlist</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/musicas" class="active">Músicas</a>
    	</li>
    	<li>
    		<a href="http://localhost:9000/contato">Contato</a>
    	</li>
    </ul> 
  </div>
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                            <ul>
                                <li ng-repeat="phone in phones">            
                                    {{phone.name}}
                                    <p>{{phones.snippet}}</p>                       
                                </li>       
                            </ul>

                <div class="art-postcontent art-postcontent-0 clearfix"><p><br/></p></div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
Copyright Web Rádio Lavrense
   
  </div>
</footer>

</div>


</body></html>